# Build products
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
libnordlicht.so
Makefile
cmake_install.cmake
nordlicht
nordlicht.pc
version.h

# Testing
Testing/
tests-tmp_*
video.mp4
*.png

# Vagrant
/Vagrantfile
/.vagrant
