# Build products
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
libnordlicht.so
libnordlicht.so.*
Makefile
nordlicht
nordlicht.1
nordlicht.pc
version.h

# Testing
Testing/
tests-tmp_*
video.mp4
*.png

# Vagrant
/.vagrant
