# Build products
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
libnordlicht.so
libnordlicht.so.*
Makefile
nordlicht
nordlicht.1
nordlicht.pc
testsuite
version.h

# Testing
test_tmp_*
video.mp4
*.png

# Vagrant
/.vagrant
.pc
*.rej
