Source: nordlicht
Priority: optional
Maintainer: Roland Hieber <rohieb@rohieb.name>
Uploaders: Sebastian Morr <sebastian@morr.cc>
Section: video
Build-Depends: debhelper (>= 9.0.0), cmake, libavcodec-dev, libavformat-dev,
  libswscale-dev, libpng-dev, libpopt-dev, help2man
Standards-Version: 3.9.6
Homepage: https://github.com/blinry/nordlicht

Package: nordlicht
Architecture: any
Section: video
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: create colorful video barcodes
 nordlicht converts video files into colorful barcodes. It's heavily inspired
 by the "moviebarcode" tumblr. It takes the video's frames in regular
 intervals, scales them to 1px width, and appends them. The resulting barcodes
 can be integrated into video players for simplified navigation.
 .
 This package contains the `nordlicht' tool which can be used to create
 barcodes from video files.

Package: nordlicht-dbg
Architecture: any
Section: debug
Priority: extra
Depends: nordlicht (= ${binary:Version}), ${misc:Depends}
Description: create colorful video barcodes -- debug symbols
 nordlicht converts video files into colorful barcodes. It's heavily inspired
 by the "moviebarcode" tumblr. It takes the video's frames in regular
 intervals, scales them to 1px width, and appends them. The resulting barcodes
 can be integrated into video players for simplified navigation.
 .
 This package contains the debug symbols for the `nordlicht' tool.

Package: libnordlicht0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: create colorful video barcodes -- shared library
 nordlicht converts video files into colorful barcodes. It's heavily inspired
 by the "moviebarcode" tumblr. It takes the video's frames in regular
 intervals, scales them to 1px width, and appends them. The resulting barcodes
 can be integrated into video players for simplified navigation.
 .
 This package contains the library which encapsulates the video barcode
 functionality.

Package: libnordlicht0-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libnordlicht0 (= ${binary:Version}), ${misc:Depends}
Description: create colorful video barcodes -- shared library debug symbols
 nordlicht converts video files into colorful barcodes. It's heavily inspired
 by the "moviebarcode" tumblr. It takes the video's frames in regular
 intervals, scales them to 1px width, and appends them. The resulting barcodes
 can be integrated into video players for simplified navigation.
 .
 This package contains the debug symbols for the nordlicht library.

Package: libnordlicht-dev
Architecture: any
Section: libdevel
Depends: libnordlicht0 (= ${binary:Version}), ${misc:Depends}
Description: create colorful video barcodes -- development files
 nordlicht converts video files into colorful barcodes. It's heavily inspired
 by the "moviebarcode" tumblr. It takes the video's frames in regular
 intervals, scales them to 1px width, and appends them. The resulting barcodes
 can be integrated into video players for simplified navigation.
 .
 This package contains the development files which are needed if you want to
 include nordlicht functionality into your own applications.
